---
import { parse } from "node-html-parser";

export interface Props {
  href: string;
}

const { href } = Astro.props;

const doc = await fetch(href, {
  method: "GET",
})
  .then((res) => res.text())
  .then((html) => parse(html));

const projectTitle = doc
  .querySelector('meta[property="og:title"]')
  ?.getAttribute("content");

const projectDesc = doc
  .querySelector('meta[property="og:description"]')
  ?.getAttribute("content");

let projectImgUrl = doc
  .querySelector('meta[property="og:image"]')
  ?.getAttribute("content");

if (projectImgUrl && projectImgUrl.startsWith("/")) {
  projectImgUrl = href + projectImgUrl;
}
---

<li class="p-4 bg-slate-700 bg-opacity-40 list-none w-64 rounded">
  <a href={href} class="flex flex-col gap-3" target="_blank">
    <h2 class="text-xl font-bold">
      {projectTitle}
    </h2>
    <img class="rounded max-h-40" alt={projectTitle} src={projectImgUrl} />
    <p>
      {projectDesc}
    </p>
  </a>
</li>
