---
import GithubIcon from "../icons/GithubIcon.astro";
import GlobeIcon from "../icons/GlobeIcon.astro";
import Tag from "./Tag.astro";

type Props = {
  title: string;
  desc: string;
  ghUrl: string;
  webUrl?: string;
  tech: Array<string>;
};

const { title, desc, ghUrl, webUrl, tech } = Astro.props;
---

<li
  class="p-4 bg-slate-700 bg-opacity-40 list-none rounded flex flex-col gap-3"
>
  <h2 class="text-xl font-bold">
    {title}
  </h2>
  <ul class="flex gap-1 flex-wrap">
    {tech.map((techItem) => <Tag name={techItem} />)}
  </ul>
  <p>
    {desc}
  </p>
  <div class="flex items-end gap-4 flex-1">
    <a title={`${title} Github repo.`} href={ghUrl} target="_blank">
      <GithubIcon class="w-7 h-7" />
    </a>
    {
      webUrl ? (
        <a title={`${title} deployed site.`} href={webUrl} target="_blank">
          <GlobeIcon class="w-7 h-7" />
        </a>
      ) : null
    }
  </div>
</li>
